@import "reset";
@import "nav";
@import "header";
@import "galery";
// @import "footer";
@import "principal-cont";

html, body {
    width: 100%;
}


.footer{
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}
