@import "reset";
@import "nav";
@import "header";
@import "galery";
@import "principal-cont";

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}



.footer{
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    // position: absolute;
    bottom: 0;
    justify-content: center;
    color: white;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
}
